<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div class= "gridcontainer">

        <div id="gridbox" background-color="yellow">
        <ul>
           <li> <h4><%= onePost.name %> </h4></li> 
           <li> <h4><%= onePost.subject %> </h4></li>
           <li> <h4><%= onePost.location %> </h4></li> 
           <li> <h4><%= onePost.comment %> </h4></li>
           <li> <h6><%= onePost.createdAt %> </h6></li> 
        </ul>

        <input type="submit" value="Create New Post"> 
        <a href="/b2a/<%=onePost._id %>/edit"><input type="submit" value="Edit Post"></a>
        
    
        </div>
       
    </div>
</body>
</html>